<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D3ify Explorify</title>
    <link rel="stylesheet" type="text/css" href="./main.css">
  </head>
  <body>
    if breadcrumb
      <a class="breadcrumb" href="/">&larr; home</a>

    <h1 class="title">#{title}</h1>

    if message
      <p>#{message}</p>
      <pre class="js-data"></pre>

    if links
      each link in links
        <a class="homepage-link" href="#{link.link}">#{link.text}</a>

    <div id="viz" data-js=#{data}>
      <!-- Content created by D3 -->
    </div>

    script(src='/main.js')
  </body>
</html>